*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --clr-blue: rgb(44, 44, 250);
  --clr-dark: black;
  --clr-dark2: rgba(0, 0, 0, 0.667);
  --clr-light: white;
  --clr-red: rgba(255, 0, 0, 0.888);
  --ft-body: 1rem;
  --ft-normal: 1.25rem;
  --ft-head: 1.55rem;
  --fw-reg: 300;
  --fw-normal: 600;
  --fw-bold: 900;
}
body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-size: var(--fs-body);
  line-height: 1.6;
}
.section_title {
  margin-bottom: 0.25em;
}
.section_description {
  margin: 0;
  font-size: var(--fs-h3);
}
@media (max-width: 680px){
  .nav-bar {
 display: none;
}
}
.nav-bar {
   margin: 0;
   padding-top: 5px;
  padding-bottom: 10px;
  display: relative;
  background-color: #000;
  color: white;
  padding-bottom: 10px;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-bar ul li {
  padding: 0px 15px 0px 0px;
  font-size: 20px;
  cursor: pointer;
}
.nav-bar ul li a {
  text-decoration: none;
  color: white;
}
.nav-bar ul li:hover{
  color: var(--clr-blue);
}
.nav-bar ul li a:hover{
  color: var(--clr-blue);
}
.log-btn{
  padding-right: 10px;
    margin-left: 6px;
     font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 5px;
}
.dropdown-container{
  position: relative;
  display: inline-block;
  cursor: pointer;
  
}
.dropdown{
  display: none;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 20px;
  background-color: #000;
  min-width: 200px;
  padding: 5px 3px 5px 10px;
   line-height: 1;
  
}
.dropdown-container:hover .dropdown{
  display: block;
   transition: 10s ease;
}
.wrapper {
  display: flex;
  color: white;
  justify-content: center;
  position: absolute;
  z-index: 30;
  left: 40%;
  background-image: url(img/fweight.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.813);
  width: 400px;
  height: 440px;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease;
}
.wrapper.active {
  height: 520px;
}
.wrapper.active-popup {
  transform: scale(1);
}
.form-box {
  width: 100%;
  padding: 50px;
}
.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(243, 6, 6);
  z-index: 1;
  cursor: pointer;
  color: white;
}
.tt {
  font-size: 1.5em;
  text-align: center;
}

.input-box {
  position: relative;
  width: 90%;
  height: 50px;
  margin: 20px 0 0 10px;
}
.input-box label {
  font-size: 1rem;
  pointer-events: none;
}
.input-box input {
  width: 100%;
  height: 50%;
}
.forgot {
  padding: 10px 0 10px 0;
  font-size: 16px;
  display: flex;
}
.forgot label{
  padding-right: 10px;
}
.forgot a {
  text-decoration: none;
   color: var(--clr-red);
}
.forgot a:hover {
  text-decoration: underline;
}
.reg {
  font-size: 15px;
  text-align: center;
  margin: 15px 0 15px;
}
.reg a {
  text-decoration: none;
  padding-left: 5px;
  color: var(--clr-red);
  
}
.reg a:hover {
  text-decoration: underline;
}
.bnt{
  position: relative;
    width: 90%;
    height: 35px;
    border: none;
    cursor: pointer;
    margin: 30px 0 0 10px;
    background-color: blue;
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
/* home */
.home {
  position: relative;
  background-image: url(img/fweight.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: var(--clr-light);
   background-color: rgba(0, 0, 255, 0.493); 
   /* background-color: #000000d7; */
  padding-bottom: 30px;
   height: 100%;
}
.home_description, .home-title {
  text-align: center;
}
.home-title {
  font-weight: var(--fw-reg);
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 3px;
}
.home_description {
  font-size: 20px;
  padding-bottom: 50px;
}

/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-h3);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
 
}
.cssbuttons-io-button {
  background: var(--clr-blue);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1em;
  font-size: 16px;
  margin-left: 1em;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.7em;
 
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s; 
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--clr-blue);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
@media (min-width: 768px) {
  .home-title {
    font-size: 75px;
  }
  .home-description {
    font-size: 20px;
  }
}
/* homeend */

/* prog */
.progs {
  padding-bottom: 2em;
}
.programs {
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}
.prog-card{
  position: relative;
   width: 100%;
  height: 400px;
  margin-bottom: 10px;
}
.prog-card img {
  width: 100%;
  height: 400px;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #0000008f;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
   transition: all 0.3s ease;
}
.overlay h1{
  color: white;
  opacity: 1;
}
.prog-card:hover .overlay {
  opacity: 1;
  height: 100%;
}
@media (min-width: 768px) {
  .programs {
    display: flex;
    justify-content: space-between;
  }
 .prog-card{
  position: relative;
   width: 300px;
  height: 400px;
  margin-bottom: 10px;
}
.prog-card img {
  width: 300px;
  height: 400px;
}
}

.prog-btn {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 5px 20px;
  background: transparent;
  border: #1e293b 1px solid;
  display: flex;
  align-items: center;
  font-size: 8px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.prog-btn > svg {
  width: 20px;
  margin-left: px;
  transition: transform 0.3s ease-in-out;
}

.prog-btn:hover svg {
  transform: translateX(5px);
}

.prog-btn:active {
  transform: scale(0.95);
}

/* prog */

/* aboutus */
.about-us {
  color: white;
  background-color: black;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
   background-image: url(img/fweight.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #000000d7;
}
.about-img {
  width: 350px;
  height: 450px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
}

.about-title {
  font-size: 30px;
  color: var(--clr-light);
  text-shadow: -1px 1px 2px rgb(44, 44, 250), 1px 2px 6px rgb(44, 44, 250),
    1px -1px 0 rgb(44, 44, 250), -1px -1px 0 rgb(44, 44, 250);
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-style: italic;
}
.about-description{
  font-size: 20px;
}
.about_description {
  padding-bottom: 1%;
  font-size: 18px;
}
.btn {
  border: 0 solid;
  cursor: pointer;
  font-family: system-ui;
  font-size: 100%;
  background: linear-gradient(90deg, blue, red);
margin-bottom: 15px;
  font-weight: 900;
  padding: 1.2rem 4rem;
  position: relative;
  text-transform: uppercase;
}

.btn span {
  background: #1e293b;
  color: #fff;
  display: grid;
  inset: 5px;
  place-items: center;
  position: absolute;
  transition: background 0.3s;
}

.btn:hover span {
  background: none;
}
@media (min-width: 768px) {
  .about-title {
    margin: 0;
    font-size: 45px;
  }
  .about-us {
    display: flex;
  }
  .about-sec {
    max-width: 1000px;
    text-align: left;
  }
  .about-description{
    font-size: 30px;
  }
  .about_description {
    font-size: 20px;
  }
}
@media (max-width: 780px) {
  .about-img {
    display: none;
  }
}
/* aboutusend */

/* team */
.team {
  padding-bottom: 30px;
  color: var(--clr-dark);
  margin: 0 10px 0 10px;
}
 /* .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
} */
/* .reveal.active{
  transform: translateY(0);
  opacity: 1;
} */
.team-title {
  font-size: var(--ft-head);
  text-align: center;
  padding-bottom: 20px;
}
.team-title::after {
  content: "";
  display: block;
  width: 10em;
  height: 2px;
  margin: 0.5em auto 1em;
  background: var(--clr-blue);
  opacity: 0.25;
}
.team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.team-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
@media (min-width: 768px) {
  .our-team {
    display: flex;
    justify-content: space-between;
    margin: 0 70px 0 70px;
  }
  .card {
    width: 200px;
    height: 254px;
  }
}
@media (max-width: 680px) {
  .card {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
}
/* before adding the photo to the div with the "card-photo" class, in the css clear the styles for .card-photo and remove .card-photo::before and .card-photo::after, then set the desired styles for .card- photo. */

.card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;

  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--clr-blue);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.card-photo {
  /* clear and add new css */
  transform: scale(0.3) translate(220px, 230px);
  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -125px;
  background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.15) 50%,
        rgba(0, 0, 0, 0) 50.8%
      )
      14% 30%/11% 11%,
    radial-gradient(circle, #ffdab9 50%, rgba(255, 218, 185, 0) 50.8%) 10% 30%/16%
      16%,
    radial-gradient(circle, #8b4513 50%, rgba(139, 69, 19, 0) 50.8%) 7.5% 29%/20%
      20%,
    radial-gradient(circle, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 50.8%) 86%
      30%/11% 11%,
    radial-gradient(circle, #ffdab9 50%, rgba(255, 218, 185, 0) 50.8%) 90% 30%/16%
      16%,
    radial-gradient(circle, #8b4513 50%, rgba(139, 69, 19, 0) 50.8%) 92.5% 29%/20%
      20%,
    radial-gradient(
        circle at 50% 0,
        #ffdab9 29.5%,
        #8b4513 30%,
        #8b4513 35%,
        rgba(139, 69, 19, 0) 35.5%
      )
      50% 95%/40% 20%,
    radial-gradient(
        ellipse at 50% 100%,
        rgba(139, 69, 19, 0) 49%,
        #8b4513 49.5%,
        #8b4513 52%,
        rgba(139, 69, 19, 0) 52.5%
      )
      50% 110%/120% 40%,
    radial-gradient(
        circle at 50% 0,
        rgba(255, 255, 255, 0) 35%,
        white 35%,
        white 45%,
        rgba(255, 255, 255, 0) 45.5%
      )
      50% 89%/40% 13%,
    linear-gradient(#8b4513, #8b4513) 37% 100%/0.25em 22%,
    linear-gradient(#8b4513, #8b4513) 63% 100%/0.25em 22%,
    linear-gradient(80deg, rgba(0, 0, 0, 0) 50%, #333 50.5%) 24% 100%/1em 18%,
    linear-gradient(-80deg, rgba(0, 0, 0, 0) 50%, #333 50.5%) 76% 100%/1em 18%,
    linear-gradient(162deg, rgba(0, 0, 0, 0) 10%, #333 10%) 30% 100%/1.5em 21%,
    linear-gradient(-162deg, rgba(0, 0, 0, 0) 10%, #333 10%) 70% 100%/1.5em 21%,
    radial-gradient(
        ellipse at 100% 100%,
        #556b2f 50%,
        rgba(85, 107, 47, 0) 50.5%
      )
      0 100%/37% 29%,
    radial-gradient(ellipse at 0 100%, #556b2f 50%, rgba(85, 107, 47, 0) 50.5%)
      100% 100%/37% 29%,
    radial-gradient(ellipse at 50% 100%, #222 51%, rgba(0, 0, 0, 0) 51.5%) 50%
      110%/120% 40%,
    radial-gradient(
        circle at 50% 0,
        rgba(0, 0, 0, 0.15) 40%,
        rgba(0, 0, 0, 0) 40.5%
      )
      50% 82%/20% 20%,
    linear-gradient(to right, #8b4513 4px, rgba(139, 69, 19, 0) 4px) 50% 80%/20%
      20%,
    linear-gradient(to left, #8b4513 4px, rgba(139, 69, 19, 0) 4px) 50% 80%/20%
      20%,
    linear-gradient(#ffdab9, #ffdab9) 50% 80%/20% 20%,
    linear-gradient(#48240a, #48240a) 50% 100%/65% 60%,
    radial-gradient(circle, white 30%, rgba(255, 255, 255, 0) 62%) 50% 50%/100%
      100%;
  background-color: #ccc;
  background-repeat: no-repeat;
  border-radius: 30%;
}

/* delete */
.card-photo::before {
  display: block;
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 160px;
  height: 200px;
  left: 50%;
  top: -10%;
  margin-left: -80px;
  background: radial-gradient(
        circle at 50% 0,
        #ffdab9 30%,
        #8b4513 30.5%,
        #8b4513 41%,
        rgba(139, 69, 19, 0) 41.5%
      )
      50% 76%/2em 2em,
    radial-gradient(
        ellipse,
        rgba(139, 69, 19, 0) 25%,
        #5e2f0d 25.5%,
        #5e2f0d 40%,
        rgba(139, 69, 19, 0) 40.5%
      )
      50% 100%/100% 40%,
    radial-gradient(
        ellipse at 50% 0,
        #8b4513 40%,
        #ffdab9 40.5%,
        #ffdab9 58%,
        rgba(255, 218, 185, 0) 59%
      )
      50% 83%/3em 1em,
    linear-gradient(#5e2f0d, #5e2f0d) 50% 86%/1em 1em,
    radial-gradient(circle, #5e2f0d 40%, rgba(139, 69, 19, 0) 40.5%) 26% 56%/1em
      1em,
    radial-gradient(circle, #5e2f0d 40%, rgba(139, 69, 19, 0) 40.5%) 74% 56%/1em
      1em,
    radial-gradient(
        ellipse,
        rgba(139, 69, 19, 0) 52%,
        #8b4513 52.5%,
        #8b4513 55%,
        rgba(139, 69, 19, 0) 55.5%
      )
      50% 100%/150% 80%,
    radial-gradient(
        ellipse,
        rgba(0, 0, 0, 0) 46%,
        rgba(0, 0, 0, 0.15) 46.5%,
        rgba(0, 0, 0, 0.15) 53%,
        rgba(0, 0, 0, 0) 53%
      )
      50% 100%/150% 80%,
    radial-gradient(ellipse, #ffdab9 53%, rgba(255, 218, 185, 0) 53.5%) 50% 100%/150%
      80%,
    radial-gradient(
        ellipse at 50% 100%,
        rgba(139, 69, 19, 0) 35.5%,
        #8b4513 36%,
        #8b4513 38%,
        white 38.5%
      )
      50% -45%/110% 60%,
    radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 30% 26%/1em 1em,
    radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 40% 25%/1em 1em,
    radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 50% 24.5%/1em 1em,
    radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 60% 25%/1em 1em,
    radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 70% 26%/1em 1em,
    radial-gradient(
        ellipse,
        #666 63%,
        #8b4513 63.5%,
        #8b4513 66%,
        rgba(139, 69, 19, 0) 66.5%
      )
      50% 100%/150% 80%,
    radial-gradient(ellipse, rgba(139, 69, 19, 0) 40%, #5e2f0d 40.5%) 50% 0/150%
      80%,
    linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)) 50% 50%/100% 100%;
  background-repeat: no-repeat;
  background-color: #ffdab9;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  border: 4px solid #8b4513;
  box-shadow: inset 0 -0.2em 0 0.5em rgba(0, 0, 0, 0.15),
    inset 0 -1.6em 0 #5e2f0d;
}

/* delete */
.card-photo::after {
  display: block;
  content: "";
  position: absolute;
  width: 2.5em;
  height: 0.8em;
  left: 28.5%;
  top: 26%;
  background-color: #5e2f0d;
  border-radius: 0.3em;
  box-shadow: 4.2em 0 0 #5e2f0d;
}

.card-title {
  text-align: center;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-title span {
  font-size: 15px;
  color: var(--font-color-sub);
}

.card-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 20px;
  gap: 20px;
  transition: 0.5s;
}

.card-socials-btn {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.card-socials-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}

.card:hover > .card-socials {
  opacity: 1;
  height: 35px;
}

.card-socials-btn:hover {
  transform: translateY(-5px);
  transition: all 0.15s;
}

.card-photo:hover {
  transition: 0.3s;
  transform: scale(0.4) translate(160px, 150px);
}
/* teamend */

/* plan */
.plan {
  color: rgb(245, 242, 242);
  background: url(img/fweight.jpg), rgba(0, 0, 0, 0.815);
  background-blend-mode: multiply;
  background-size: cover;
   background-position: center;
  background-attachment: fixed;
  padding-bottom: 10px;
}
.plan-title {
  font-size: 1.5rem;
  padding: 15px 0 0px 10px;
}
.plan-description{
font-size: 1.9rem;
}
.plan_section {
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
   text-align: center;
 
}
@media (max-width: 680px){
.items{
   padding-left: 100px;
}
}
.silver-sec{
border: var( --clr-red) solid 5px;
}
.head {
  line-height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 17px;
}

.sec-btn {
  position: relative;
}
.head-title {
  font-size: 2.9rem;
}
.head-desc {
  font-size: 1rem;
  padding-top: 20px;
}
.price-tag {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
  color: white;
}
.price {
  display: flex;
  justify-content: center;
}
.price span{
  font-size: 1.5rem;
}
.items {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 35px;
 
}
.items i {
  color: black;
  font-size: 14px;
  background-color: white;
  border-radius: 100%;
  padding: 2px 3px 2px 3px;
  margin-right: 5px;
}
.button-container {
  margin-top: 30px;
  padding: 0;
  position: relative;
}

.button-container button {
  display: block;
  width: 90%;
  background-color: var(--clr-blue);
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  outline: 0;
  border: 0;
  font-size: 1rem;
  transition: transform 0.4s;
}
.button-container button:hover{
  background-color: var(--clr-blue);
  color: white;
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .plan_section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section1 {
    width: 320px;
    padding: 0px 50px 40px 50px;
    text-align: center;
    margin: 0 20px 0 20px;
  }
}


.list p {
  display: block;
  font-family: sans-serif;
}

.button-container {
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.button-container button {
  display: block;
  width: 90%;
  background-color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #000;
  outline: 0;
  border: 0;
  border-radius: 10px;
}
.cards {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #fff
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: rgba(156, 163, 175, 1);
}

.lists {
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: rgba(156, 163, 175, 1);
}

.lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: 0.5rem
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: rgba(167, 139, 250, 1);
}

.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.25rem;
  background-color: rgba(167, 139, 250, 1);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(17, 24, 39, 1);
} 
/* plan */
.news_letter{
   background-color: #000000ef;
  color: white;
}
/*footer*/
footer {
  background-color: #000000ef;
  color: white;
  position: relative;
  padding-bottom: 1px;
}

.letter-wrapper{
display: flex;
justify-content: center;
}
.news-letter h1{
  text-align: center;
  margin: 0;
  padding: 0;
}
.news-letter p{
  text-align: center;
  font-size: 12px;
}
form{
 display: grid ;
 grid-column: 1;
}
.sect{
  display: flex;
  flex-direction: column;
}
input{
  padding: 5px 0 5px 5px;
margin-bottom: 3px;
font-size: 16px;
}
.singup-btn{
  background-color: var(--clr-blue);
  color: white;
}
@media (min-width: 768px){
  .letter-wrapper{
display: flex;
justify-content:center ;
}
 .news-letter h1{
  text-align: center;
  margin: 0;
  padding: 0;
}
  .news-letter p{
  text-align: center;
  font-size: 16px;
}
form{
 display: flex;
 flex-direction: column; 
 grid-template-columns: 2;
 padding-bottom: 30px;
}
.sect{
  display: flex;
  flex-direction: row;
}
input{
  padding: 10px;
margin: 0 12px 15px 0;
}
.email{
  padding-right: 115px;
}
.singup-btn{
  background-color: var(--clr-blue);
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 18px;
}
}
.serv{
  margin-left: 30px;
}
.srv{
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
}
.icon{
  font-size: 1.2em;
  transition: transform 0.5s;
}
.icon:hover{
  color: var(--clr-blue);
  transform: scale(1.2);
}
.socials{
   padding-right: 35px;
}
.srv h2{
  font-size: 18px;
}
.socials .icons {
  display: flex;
  justify-content: space-evenly;
}
.socials .icons .icon {
  padding: 0;
}
.cash, .serv-info{
  display: none;
}
.rights{
  background-color: #000000eb;
  margin-left: 10px;
  font-size: 12px;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px){
  .serv{
    display: flex;
  justify-content: space-between;
  margin-left: 30px;
  }
  .serv-info{
  display: flex;
}
.info{
  padding-right: 40px;
}
.info p:hover{
color: blue;
}
  .info h2{
    font-size: 22px;
  }
  .srv h2{
  font-size: 22px;
}
.icon{
  font-size: 1.4em;
  transition: transform 0.5s;
}
.cash .icons{
  display: flex;
  justify-content: space-evenly;
}
}
